body {
  background: #ddd;
}

pre {
  background: black;
  color: white;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  text-shadow: 0 0 2px black;
  border-radius: .5em;
  overflow-x: auto;
}
